body {
    background-color: rgb(23, 23, 23);
}
h1 {
    background-color: mediumpurple;
    color: black;
    font-size: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
h2 {
    background-color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
}

h3{
    font-size: 35px;
    background-color: lightpink;
    font-family: monospace;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

h4 {
    font-size: 35px;
    color: wheat;
    text-align: center;
}
p {
    font-size: 30px;
    text-align: center;
    color: wheat;
}

pre {
    font-size: 31px
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div, iframe {
    display: block;
    width: 700px;
    height: 450px;
    margin: 0 auto;
}